body {
    margin: 0 auto;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.screen-view {
    width: 100%;
    height: 100vh;
}

.nav-view {
    height: 10vh;
}

.nav-link {
    line-height: 10vh;
}

.screen-image {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: 3s;
}

.navbar-main {
    background-color: #2E8282;
    color: #ffffff;
}

.home-main {
    background-image: url(../images/tealwood.png);
}

.home-screen-header-text {
    font-family: 'Annie Use Your Telescope', cursive;
    color: #ffffff;
    font-size: 10vh;
}

.katie-deangelis-text {
    color: #EB0C9F;
}

.home-screen-byline-text {
    font-family: 'Annie Use Your Telescope', cursive;
    color: #ffffff;
    font-size: 5vh;
}

.contact-main {
    background-image: url(../images/graffiti.png);
}

.footer-main {
    background-image: url(../images/sunburst.png);
}